.table-div{
   padding-top: 30px;
   font-family: "Roboto", sans-serif;

  line-height: 1.25;
  margin: 0;
  padding: 12px;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.table-div table{
  width: 50%;
}
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
  }
  
  #customers td, #customers th {
    border: 1px solid black;
    padding: 8px;
  } 
  
  /* #customers tr:nth-child(even){background-color: whitesmoke} */
  
  
 #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: white;
    color: black;
  } 