@import url("https://fonts.googleapis.com/css?family=Poppins");

$navbar-height: 75px;
html,
body {
  padding: 0;
  margin: 0;
  background-color: #000000;
  color: white;
}

/* typography*/
/* typography reset*/
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
  padding: 0;
}

.h1 {
  font-weight: 700;
  margin-bottom: 100px;
  letter-spacing: 2;
}

/* Toggle Styles */
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 200px;

  .sidebar-wrapper {
    padding: 0px;
  }
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 200px;
  width: 0;

  height: 100%;
  margin-left: -200px;
  overflow-y: auto;
  //   background: #000;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow-x: hidden;
}

#wrapper.toggled #sidebar-wrapper {
  width: 200px;
}

#page-content-wrapper {
  padding-top: $navbar-height !important;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
}

.sidebar-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //   padding: 20px 0;
  //   background-color: white;
  background-color: rgb(0, 0, 0);
  border-right: 1px solid rgba(255, 255, 255, 0.12);
  .dropdown {
    &:hover {
      background-color: transparent !important;
    }
    &-menu {
      position: relative !important;
      background-color: transparent !important;
      transform: translateX(0) !important;
      border: none;
      li {
        padding: 12px;
        a {
          color: white;
        }
        &:hover {
          background-color: #f1f1f233;
        }
      }
    }
    &-item {
      // margin: 15px 0;
      transiiton: all 300ms ease-in-out;
      padding: 0;
      &:hover {
        background-color: transparent;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
/* Sidebar Styles */
.sidebar-nav {
  position: relative;
  top: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav,
.sidebar-footer {
  width: 200px;
}

/*new code*/
.sidebar-nav {
  .nav-item {
    display: block;
    //   padding-left: 20px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding: 12px !important;
    font-size: 18px;

    a {
      color: #ffffff;
      text-decoration: none;
    }
    &:hover {
      background-color: #f1f1f233;
    }
  }
}

.sidebar-nav .sidebar-brand {
  //   margin: 30px auto;
  height: $navbar-height;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

// .sidebar-nav a:hover {
//   color: #f1f1f1;
// }

/* Desktop View*/
@media only screen and (max-width: 991px) {
  #page-content-wrapper {
    position: absolute;
    left: 0;
    width: 100% !important;
  }
}
@media only screen and (min-width: 991px) {
  #wrapper {
    padding-left: 200px;
  }
  #wrapper.toggled {
    padding-left: 0;
  }
  #sidebar-wrapper {
    width: 200px;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }
  #page-content-wrapper {
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

/* mobile */
#menu-toggle {
  cursor: pointer;
  font-size: 30px;
}
.sidebar-footer {
  color: #818181;
  padding: 20px;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: $navbar-height;
  z-index: 999;
  background-color: rgb(0, 0, 0);
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  padding: 0;
  &-brand {
    width: 200px;
    height: $navbar-height;
    // border-right: 1px solid #dbdbdc;
    display: flex;
    align-items: center;
  }
}

.main-data-container {
  max-width: 874px;
  margin: 0 auto;
}
.ts-app-cards {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(4, 1fr);
  @media (max-width: 1400px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: 991px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
  }
  @media (max-width: 550px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  min-height: 160px;
  padding: 6px 8px 8px;

  background: rgba(255, 255, 255, 0.08);
  border-radius: 4px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.7px);
  -webkit-backdrop-filter: blur(4.7px);
  border: 1px solid rgba(255, 255, 255, 0.12);
  .bi {
    font-size: 24px;
    color: #7b7b80;
  }
  &-img {
    width: 100%;
    margin-bottom: 30px;
  }
  &-title {
    text-align: center;
  }
}

.toggle-cards {
  border: 1px solid white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0 2px;
  .bi {
    &::before {
      font-weight: bold;
      color: rgb(255, 255, 255) !important;
    }
  }

  &-btn {
    font-weight: bold;
    border: none !important;
    color: white;
  }
}
.active {
  .toggle-cards {
    .bi {
    }
  }
}
