/* @import url('https://fonts.googleapis.com/css?family=Amarante'); */
/* 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.Container {
  min-height: 100vh;
  /* background-image: url('https://cdn-images-1.medium.com/max/800/1*9t88VLdEmIKp28jPa_RIvw.jpeg'); */

  /* background-image: "https://fsphubassets12249.s3.amazonaws.com/flagship.avif"; */
  background-image: url('https://ok7static.oktacdn.com/fs/bco/7/fs0lpj5l1ctZyQYML356');
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal2 {
  font-family: "Neue Haas Grotesk Display Pro", cursive;
  font-size: 17px;
  line-height: 1.4;
  /* background-color: white; */
  color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  border-radius: 6px;
  border-style: none;
  border-width: 1px;
  height: 400px;
  width: 500px;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  opacity: 0.85;
}

.header {
  width: 100%;
  height: 30%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.body {
  align-self: center;
  padding: 30px;
  font-size: 1.5rem;
}

.logindiv {
  align-self: center;
}

.logo {
  height: 50px;
}

.loginbtn {
  width: 90px;
  height: 50px;
  border-style: none;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Neue Haas Grotesk Display Pro", cursive;
  background-color: transparent;
}

.loginbtn:hover {
  color: black;
  font-size: 1.5rem;
}
