@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  background-color: white;
  /* color: rgb(215, 210, 197); */
  color: rgb(0, 109, 149);
  font-family: 'Lato', sans-serif;
}

/* typography*/
/* typography reset*/
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
  padding: 0;
}

/* missalaneaous */
.App{
  min-height: 100vh;
}

.h1 {
  font-weight: 700;
  margin-bottom: 100px;
  letter-spacing: 2;
}

/* Toggle Styles */
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  min-height: 100vh;
}

#wrapper.toggled {
  padding-left: 200px;
}

#wrapper.toggled .sidebar-wrapper {
  padding: 0px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 200px;
  width: 0;
  height: 100%;
  margin-left: -200px;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow-x: hidden;
}

#wrapper.toggled #sidebar-wrapper {
  width: 200px;
}

#page-content-wrapper {
  padding-top: 75px !important;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
}

.sidebar-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: white;
  /* border-right: 1px solid rgba(255, 255, 255, 0.12); */
  border-right: 0.5px solid #D0D0D0;
}

.sidebar-wrapper .dropdown:hover {
  background-color: transparent !important;
}

.sidebar-wrapper .dropdown-menu {
  position: relative !important;
  background-color: transparent !important;
  -webkit-transform: translateX(0) !important;
  transform: translateX(0) !important;
  border: none;
} 

.sidebar-wrapper .dropdown-menu li {
  padding: 10px;
  padding-left: 20px;
}

.sidebar-wrapper .dropdown-menu li a {
  /* color: rgb(215, 210, 197); */
  color: rgb(0, 109, 149);
  font-weight: bold;
}

.sidebar-wrapper .dropdown-menu li:hover {
  background-color: #f1f1f233;
}

.sidebar-wrapper .dropdown-item {
  transiiton: all 300ms ease-in-out;
  padding: 0;
}

.sidebar-wrapper .dropdown-item:hover {
  background-color: transparent;
}

.sidebar-wrapper .dropdown-item:last-child {
  margin-bottom: 0;
}

/* Sidebar Styles */
.sidebar-nav {
  position: relative;
  top: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dropdown{
  color: rgb(0, 109, 149);
  font-weight: bold;
}

.sidebar-nav img {
  width: auto;
  height: 40px;
}

.navbar-brand img {
  width: auto;
  height: 65px;
  margin-left: 65px;
}

.sidebar-nav,
.sidebar-footer {
  width: 200px;
}

/*new code*/
.sidebar-nav .nav-item {
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 12px !important;
  font-size: 18px;
}

.sidebar-nav .nav-item a {
  /* color: rgb(215, 210, 197); */
  color: rgb(0, 109, 149);
  text-decoration: none;
  font-weight: bold;
}

#sidebar-wrapper ul  {
  text-align: left;
  padding-left: 15px;
  color: black;
}

.sidebar-nav .nav-item:hover {
  background-color: #f1f1f233;
}

.sidebar-nav .sidebar-brand {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: flex-start;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.12); */
  border-bottom: 0.5px solid #D0D0D0;
}

/* Desktop View*/
@media only screen and (max-width: 991px) {
  #page-content-wrapper {
    position: absolute;
    left: 0;
    width: 100% !important;
  }
}

@media only screen and (min-width: 991px) {
  #wrapper {
    padding-left: 200px;
  }
  #wrapper.toggled {
    padding-left: 0;
  }
  #sidebar-wrapper {
    width: 200px;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }
  #page-content-wrapper {
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

/* mobile */
#menu-toggle {
  cursor: pointer;
  font-size: 30px;
}

.sidebar-footer {
  /* color: rgb(215, 210, 197); */
  color:  rgb(205, 32, 38);
  padding: 20px;
  font-weight: bold;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
  z-index: 999;
  background-color: white;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.12); */
  border-bottom: 0.5px solid #D0D0D0;
  padding: 0;
}

.navbar-brand {
  width: 200px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-data-container {
  max-width: 874px;
  margin: 0 auto;
}

.ts-app-cards {
  display: -ms-grid;
  display: grid;
  gap: 24px;
  -ms-grid-columns: (1fr);
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1400px) {
  .ts-app-cards {
    -ms-grid-columns: (1fr);
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1200px) {
  .ts-app-cards {
    -ms-grid-columns: (1fr);
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 991px) {
  .ts-app-cards {
    -ms-grid-columns: (1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
  }
}

@media (max-width: 550px) {
  .ts-app-cards {
    -ms-grid-columns: (1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  max-height: 160px;
  padding: 6px 8px 8px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4.7px);
  -webkit-backdrop-filter: blur(4.7px);
  border: 1px solid rgba(255, 255, 255, 0.12);
}

.card-title{
  color: black;
}

.container h5{
  color: rgb(0, 109, 149);
  font-weight: bolder;
}

.card .bi {
  font-size: 24px;
  color: rgb(215, 210, 197);
}

.card-img {
  width: 100%;
  margin-bottom: 30px;
}

.sloth-img {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.mfa-img {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 17px;
  margin-top: 20px;
}

.offboard-img {
  width: 60%;
  margin: 0 auto;
  margin-top: 10px;
}

.onboard-img {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2px;
  margin-top: 32.5px;
}


.sloth-img > h6 {
  margin-top: 30px;
}

.card-title {
  text-align: center;
}

.toggle-cards {
  border: 1px solid white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0 2px;
}

.toggle-cards .bi::before {
  font-weight: bold;
  color: white !important;
}

.toggle-cards-btn {
  font-weight: bold;
  border: none !important;
  color: white;
}

.tochi-div{
  height: 100vh;
 padding: 300px;
}

